html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.nav {
    background-color: #81d4fa !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.closebar {
    display: none;
}

nav ul li .nav-link {
    color: black;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-toggler-icon {
    color: black;
}

.nav ul li:hover {
    color: white !important;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding-left: 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    background-color: white !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: #d2dae2;
}

header h1 {
    font-weight: 600;
}

.img_logo {
    width: 80px;
    height: 80px;
}


/*  settings for main screen */

.main-screen {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-top: 100px;
}

.main-screen h2 {
    font-size: 30px;
    font-weight: 700;
}

.box1 {
    background-color: #ffccbc;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.box1:hover {
    background-color: #b3e5fc;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.05), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1), 8px 32px 32px rgba(0, 0, 0, 0.15), 8px 64px 64px rgba(0, 0, 0, 0.15);
}

.box1 .btn {
    width: 90%;
    margin: auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #f5f6fa;
    border: none;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px inset;
    animation: 0.5s;
    -webkit-animation: 0.5s;
    font-weight: 600;
    color: black !important;
    font-size: 1.8rem;
}

.box1 .btn:hover {
    background-color: white;
    border: none;
    outline: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.5;
    -webkit-transition: all 0.5;
    -moz-transition: all 0.5;
    -ms-transition: all 0.5;
    -o-transition: all 0.5;
}

.boxx2 {
    background-color: #81d4fa;
}


/*  START SETTINGS FORM*/

.main-screen .form_info {
    /*border: 2px solid red;
    */
    background-color: #ffffff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 0px;
}

.main-screen .form_info:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.05), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1), 8px 32px 32px rgba(0, 0, 0, 0.15), 8px 64px 64px rgba(0, 0, 0, 0.15);
}

.main-screen .form_info .form-group input {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    border-radius: 10px;
}

.main-screen .form_info .form-group input:hover {
    border: 2px solid #2962ff;
}

input[placeholder],
[placeholder],
*[placeholder] {
    color: blue !important;
    font-size: 1.5em;
    padding-left: 20px;
    text-align: right;
}

.main-screen .btn_sent {
    background-color: red;
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 4px 40px;
    border: none;
    border-radius: 20px;
    outline: none;
}

.main-screen .btn_sent:hover {
    background-color: #2962ff;
    border: none;
    outline: #2962ff;
}

.main-screen .btn_sent:focus {
    outline: none;
    border: none;
}


/*  END SETTINGS FORM*/


/*  اعدادات صفحة درجة حرارة الحاضنة*/

.room_tem {
    background-color: #4a6572;
    font-family: "Noto Serif", serif;
}

.bg_nav {
    background-color: #f9aa33 !important;
}

.header_room_tem {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 70%;
    margin: auto;
    padding: 20px;
    background-color: white !important;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.header_room_tem:hover {
    background-color: #ffcdd2 !important;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.form_box {
    border-radius: 20px;
    margin: auto;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: white !important;
}

.form_box:hover {
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.form-info header span {
    font-size: 3.5rem;
    color: red;
}

.form-info form input {
    padding: 10px 0px;
    border-radius: 14px;
    outline: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.in_room[placeholder],
[placeholder],
*[placeholder] {
    color: blue !important;
    font-size: 1.5em;
    padding-left: 20px;
    text-align: left;
}

.form-info form input:hover {
    border: 2px solid red;
}

.form-info form input::placeholder {
    text-align: left;
    color: red;
    padding-left: 10px;
    font-size: 15px;
}

.form-info .save_change {
    background-color: red;
    color: white;
    font-size: 1.6rem;
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.form-info .save_change:hover {
    background-color: #ff3f0e;
    color: black;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form-info .save_change:focus {
    border: none;
    outline: none;
}


/*  اعدادات صفحة درجة حرارة 'طفل'*/

.baby_bg {
    background-color: #fffbe6 !important;
}

.bg_nav_baby {
    background-color: #fd5523 !important;
}

.btn_back_baby {
    background-color: white !important;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-weight: 700;
}


/*  اعدادات صفحة درجة حرارة 'نسبة الرطوبة'*/

.humd_bg {
    background-color: #fffbe6 !important;
}

.bg_nav_humd {
    background-color: #3f51b5 !important;
    color: white;
}

.bg_nav_humd .btn_back_humd {
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


/*  اعدادات صفحة  لوحة درجة حرارة ' '*/

.body_display_1 {
    background-color: #eceff1;
    line-height: 1.5;
    /* font-size: 1.5rem;*/
    font-weight: 600;
}

.header_dis {
    margin-top: -20px;
    background-color: #81d4fa;
}

header h1 {
    /*color: red;*/
    font-size: 30px;
}

.display_1 .dis_box {
    display: flex;
    background-color: #fafafa;
    display: block;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.display_1 .dis_box h1 {
    color: black;
    font-weight: 400;
    font-size: 37px;
}

.display_1 .dis_box .title,
.tit_2 {
    font-size: 25px;
    font-weight: 700;
    width: 100%;
    margin: auto;
}

.display_1 .dis_box span {
    color: white;
    background-color: red;
    padding: 0px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.display_1 .dis_box:hover {
    background-color: #81d4fa;
    transition: all 0.5;
    -webkit-transition: all 0.5;
    -moz-transition: all 0.5;
    -ms-transition: all 0.5;
    -o-transition: all 0.5;
}

.display_1 .dis_btn {
    padding: 5px 20px;
    font-size: 2rem;
    font-weight: 800;
    background-color: red;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.display_1 .dis_btn:hover {
    background-color: #81d4fa;
    outline: none;
    border: none;
    transition: all 0.6;
    -webkit-transition: all 0.6;
    -moz-transition: all 0.6;
    -ms-transition: all 0.6;
    -o-transition: all 0.6;
    color: black;
    padding: 6px 21px;
}


/* CONNECT US */

.container-fluid {
    background-color: #222569;
}

.msg-form {
    background-color: white;
    padding: 20px;
}

.pad-icon {
    padding-top: 50px;
    padding-left: 20px;
}

.pad-icon a {
    text-decoration: none;
    margin-right: 40px;
}

.input-group input:focus {
    border: 1px solid blue;
}

.pad-icon a:active {
    height: 30px;
    width: 30px;
    background-color: #0080ff;
    border-radius: 100%;
}

.links {
    padding-top: 50px;
    width: 50%;
}

#bordering a:active {
    border: 1px solid #0080ff;
}

@media (min-width: 568px) {
    .container-fluid {
        margin: 100px 30px;
        width: 96%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media (max-width: 567px) {
    .container-fluid {
        margin: 10px 10px;
        width: 94%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .pad {
        padding-top: 20px;
    }
}


/* start settings report */

.report h1 {
    color: black;
    font-weight: 800;
}

.report .collapse button {
    background-color: white !important;
    border-radius: 15px;
    border: none;
    outline: none;
}

.report .collapse button:focus button:hover {
    border: none;
    outline: none;
}

.report table {
    background-color: #36384c;
    font-size: 20px;
}

.report table thead tr th {
    background-color: #2a93d5 !important;
    text-align: center;
    font-weight: 600;
}

table tr:hover {
    background-color: red !important;
    transition: 0.5 all;
}

.swal2-popup {
    font-size: 1.9rem !important;
    font-family: Georgia, serif;
}


/*end settings report*/


/*start  settings chart */

.bg_chart {
    background-color: #e2f1f8;
}

.chart {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: #80deea;
}

.bg_nav_chart {
    background-color: #e91e63 !important;
    color: white;
}

nav .btn_home_chart {
    background-color: white !important;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

nav .btn_home_chart:focus {
    border: none;
    outline: none;
}

.chart2 {
    background-color: #e1bee7 !important;
}

.chart3 {
    background-color: #9fa8da !important;
}

.chart:hover,
.chart2:hover,
.chart3:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: #fff8e1 !important;
    transition: 0.4 all;
    -webkit-transition: 0.4 all;
    -moz-transition: 0.4 all;
    -ms-transition: 0.4 all;
    -o-transition: 0.4 all;
}

.chart img {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    background-color: white;
}

.chart #myChart,
#myChart2,
#myChart3 {
    margin: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.tit_3 {
    font-size: 25px;
    font-weight: 700;
    width: 30%;
    margin: auto;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: #ff5252;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.tit_3:hover {
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px inset;
    color: red;
    background-color: white;
    width: 60%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}